.homeMainDiv{

    width: 80%;
    margin: auto;
    /* height: 10000px; */
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    /* height: 500px; */
}
/* .homeMainDiv:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.recommended{ 
   
     margin: auto;
    /* border: 1px solid red; */
    height: 410px;
   
    gap: 10px;
}
.recommended:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.recommended div{
/* gap: px; */
height: 400px;
border: 1px solid rebeccapurple;
}
.h3{
    margin: auto;
    width: 80%;
}
.img{
    height: 200px;
}

.icones{
    font-size: 30px;
}
.icone{
    font-size: 40px;
}

.name:hover{
    color: goldenrod;
}
.price{
    color: red;
    font-size: 20px;

}

/* populer searchs */

.pop{
    margin: auto;
    width: 80%;
}

.slider1{
    height: 400px;
    border: 1px solid red;
    display: flex;
    margin: auto;
    width: 80%;
    margin-bottom: 2%;
   
}

.slidFirstDiv{
    width: 19.9%;
    border: 1px solid black;
    /* width: 100%; */
    background-color: rgb(229, 234, 234);

    line-height: 10px;

}

.slidsecondDiv{
    width: 80%;
    border: 1 px solid blue;
}

.p:hover{

    font-size: 18px;
    background-color: white;
    color: black;
    height: 30px;
    margin: auto;
}

.frstDivfooter{
    display: flex;
    height: 120px;
    width: 80%;
    margin: auto;
    border: 1px solid red;
/* justify-content: space-evenly; */
gap: 10px;
}
.frstDivfooterfrst{
    width: 27%;
    border: 1px solid black;
    background-color: rgb(104, 95, 95);
    color: gold;
    text-align: center;
    /* margin-top: 20%; */


}

.frstDivfooterSecond{
  
    /* width: 18%; */
    border: 1 px solid blue;
    display: flex;
    gap :10px;


}

.secondDiv{
    height: 120px;
    border: 1 px solid green;
    width: 80%;
    gap:20px;
    display: flex;
    justify-content: space-between;
}

/* collection */


.colmainDiv{

    display: flex;
    height: 250px;
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

.colFirstDiv{
    background-color: brown;
    width: 18%;
    border: 1px solid green;
}
.colSecondDiv{
    display: flex;
    flex-direction: row;
 justify-content: space-between;
 
}

.colSecindDivchild{

    border: 1px solid teal;
    gap: 20px;
}

.colimg{

    height: 190px;
}


/* super deal */

.superMain{
    display: flex;
    height: 400px;
    width: 80%;
    margin: auto;
    border: 1px solid red;
    /* gap: 20px; */
}

.firstDiv{
    width: 17%;
    border: 1px solid rgb(239, 239, 244);
}
.secondDivsuper{
    display: flex;
    width: 83%;
    border: 1px solid rgb(239, 239, 244);
}

/* .secondDivsuper:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

} */
.superChild{

    border: 1px solid rgb(239, 239, 244);
}
.superChild:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.superimg{
    height: 200px;
    width: 100%;
}